nav{
    
    ul{
        width: 100%;
        @include flexbox();
        @include justify-content(center);
        @include align-items(center);
        gap:0 1rem;
        
        li{
            a{
                font-weight: 600;
                text-transform: capitalize;
                color:var(--clr-body);
                padding:.5rem 1rem;
                border-radius: 4px;
                background-color:var(--clr-white-900);
                transition: color .5s;
                @include breakpoint-up('md-desktop'){
                    padding:.5rem 1.5rem;
                }
               
            }
            &.is-active{
                a{
                    background-color: var(--clr-primary-500);
                    color:var(--clr-white-900);
                }
            }
            &:hover{
                color:var(--clr-secondary-500);
                opacity: 1;
            }
        }
    }
}


    
.toggle-btn{
    display: none;
    color:var(--clr-white-900);
    @include breakpoint-down("lg-tab"){
        display: block;
    }
}
.nav{
    .toggle-btn{
        color:var(--clr-primary-500);
        display: flex;
        justify-content: flex-end;
        display: none;

    }
    @include breakpoint-down("lg-tab"){
        display: none;
        position: fixed;
        opacity: 0;
        visibility: hidden;
        right:-100%;
        width: 300px;
        background-color: var(--clr-white-900);
        top:0;
        height: 100vh;
        padding:1rem;
        box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
        border:1px solid var(--clr-body-300);
        .toggle-btn{
            display: block;
            float:right;
        }
        
        ul{
            
            @include flex-direction(column);
            @include align-items(start);
            gap:.6125rem;
        }
        
    }
}
